@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome (to the jungle)</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Here we will be adding the new content.</p>
    <p>This will help us learn the CI/CD principles on Azure and App Service.</p>
</div>
